.footer__main {
    position: fixed;
    bottom: 0;
}
.footer__main__box {
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 0px 20px #ced2d6;
    border-radius: 2px 2px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer__main__box__back {
    background: url("./SVG/footerback.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: space-around;
    filter: drop-shadow(0px -4px 2px #ededed);
    height: 45px;
}
.footer__main span {
    font-family: "B Nazanin";
    font-weight: 700;
    font-size: 7px;
    text-align: center;
    color: #9da6ad;
    padding-top: 3px;
}
.footer__main div {
    display: grid;
}

#setting__icon__home {
    padding-left: 50px;
}

#App__home__icon {
    position: absolute;
    bottom: 0px;
    margin-left: 13px;
}
