.header__main {
    justify-content: center;
    position: fixed;
    background-color: rgb(255 255 255 / 77%);
    border-radius: 2px 2px 15px 15px;
}
.header__box {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.header__box__title {
    font-family: "B Nazanin";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: #76777c;
}
