.Assessment__main__description {
    display: flex !important;
    justify-content: center !important;
    padding-top: 20px !important;
}
.Assessment__main__description__box {
    background-color: #0c3877;
    box-shadow: 0px 0px 5px rgba(112, 107, 107, 0.25);
    border-radius: 15px;
    height: 185px;
    color: #ffffff;
    font-family: "B Nazanin";
}
.Assessment__main__description__logo {
    display: flex;
    justify-content: center;
    margin-top: 10px !important;
}
.Assessment__main__description__title {
    display: flex;
    justify-content: center;
    margin-top: 10px !important;
}
.Assessment__main__description__title span {
    font-weight: 600;
    font-size: 15px;
}
.Assessment__box__description__text {
    font-size: 11px;
    line-height: 17px;
    text-align: justify;
    letter-spacing: 0.005em;
    padding: 10px 20px;
    text-align-last: right;
}

.Assessment__main {
    display: flex;
    justify-content: center;
    margin-top: 20px !important;
    font-family: "B Nazanin";
}
.Assessment__main__box {
    background: #ffffff;
    box-shadow: 0px 0px 5px rgba(112, 107, 107, 0.25);
    border-radius: 15px;
    height: 190px;
}
.Assessment__box__header {
    display: flex;
    align-items: center;
    font-weight: 400;
    text-align: center;
}
.Assessment__box__header__count {
    font-size: 15px;
    color: #0c3877;
    direction: rtl;
}
.Assessment__box__header__title {
    font-size: 15px;
    color: #8d9290;
}
.Assessment__box__middle {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
.Assessment__box__description {
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
    color: #8d9290;
    padding-right: 15px;
    text-align-last: right;
}

.Assessment__box__image {
    display: flex;
    justify-content: center;
}
.Assessment__main__box__slider {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.Assessment__main__box__slider__form {
    display: flex;
}

.Assessment__main__box__slider__form input[type="radio"] {
    display: none;
}

.Assessment__main__box__slider__form label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    width: 50px;
    height: 50px;
    padding: 3px;
    color: #8e8989;
    font-size: 18px;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.Assessment__main__box__slider__form input[type="radio"]:checked + label {
    margin: 0 15px;
    width: 55px;
    height: 55px;
    -webkit-transform: none;
    transform: none;
    font-size: 22px;
    background-color: #0c3877;
    color: #ffffff;
}

.Assessment__main__box__slider__form label {
    background: #ecf1ff;
}
